/* query for tablet devices */
@media only screen
and (min-width: 480px)
and (max-width: 767px) {

    html {
        font-size: $tablet-html-base-font-size;
    }
    body {
        font-size: $tablet-body-base-font-size;
    }

    .hero-title {
        font-size: 1.5em;
        top: 180px;
        z-index: 100;

        h3 {
            left: -40px;
        }
        h1 {
            left: 30px;
        }
    }
    .row {
        margin-top: 0;
        margin-bottom: 0px;

        .col-2:nth-child(even) {
            margin-right: 0;
        }

        .col-2, .col-4 {
            margin-right: 1%;
            width: 49.5%;
        }


        & [class^="col-"], & [class*=" col-"] {
            margin-top: 0px;
            margin-bottom: 5px;

            article {
                p > img {
                    padding-right: 0;
                    width: 100%;
                }

                picture img {
                    width: 100%;
                }
            }
        }

    }

    header {
        z-index: 125;
    }

    .hero-title {
        z-index: 124;
    }

    .searchbox-desktop {
        left: -20px;

    }
}
